.vscode
.idea

venv

.tmp/audio.wav
.tmp/frame.jpg
*.xml

devastator/vision/darknet/backup/custom.weights

devastator/__pycache__
devastator/robot/__pycache__
devastator/robot/micarray/__pycache__/
devastator/sound/__pycache__
devastator/sound/vokaturi/__pycache__
devastator/vision/__pycache__
devastator/vision/darknet/__pycache__/
devastator/navigation/__pycache__

YoloV2_18000.bin
YoloV2_18000.xml